<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Azure_Devops" value="https://pkgs.dev.azure.com/crossriverbank/_packaging/common/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Azure_Devops>
		<add key="Username" value="raslizada@crossriverbank.com" />
		<add key="ClearTextPassword" value="h23gb6vzvv664rovtaqjxlm25caw6hwuhqbymgivcdik64rzw4uq" />
	</Azure_Devops>
    </packageSourceCredentials>
</configuration>
